@media (min-width : 320px) and (max-width : 700px) {
  body, .content{
    width:100%;
  }
  body{
    background: rgb(226,226,226); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
  }
  #liste, #confirm, #social{
    padding:10px;
  }


  /* ----------------- HEADER ------------------ */
  header{
    position:relative;
    height: 122px;
  }
  header>span {
    display:none;
  }
   header>div>a, header>div>a:hover{
    width:100%;
    border-radius:0;
    float:none;
    width: 100%;
    display: block;
    height:auto;
    padding:10px 0;
  }
  header>div>a>img {
    width:80px;
  }
  header>div {
    width:100%;
  }
  

  /* ----------------- MAP ------------------ */
  #map .loader{
    top:75px;
    left:40%;
  }
  #map.little .loader{
    top:25px;
  }
  #map{
    margin-top: 0;
    height: auto;
    padding-top: 0;
  }
  #filtre {
    position: relative;
    display: block;
    width: 100%;
    float: none;
    right: 0;
  }
  #the_map {
    height: 250px;
  }
  #accordion>div>input[type="text"] {
    width: 100%;
    border: none;
    height: 22px;
  }
  #accordion>div>input[type="submit"] {
    position: absolute;
    top: 10px;
    right: 0;
  }
  #ui-accordion-accordion-panel-0{
    padding-right: 40px;
    position: relative;
  }
  #map.little {
    height: 150px;
  }
  #map.little>div {
    height: 100%;
  }
  #accordion>div>input[type="button"] {
    position: absolute;
    top: 9px;
    right: 0;
  }

  /* ----------------- ACCUEIL ------------------ */
  #liste .content {
    padding-top: 0;
  }
  #liste .filterlist>div {
    display: block;
    margin: 10px 0;
    padding-left: 35px;
  }
  #liste .element{
    height:auto;
    background:white;
    padding: 0;
    margin: 20px auto;
    position: relative;
  }
  #liste .element .infos {
    padding:0;
    float:none;
    display:block;
    padding: 5px 0;
  }
  #liste .element .infos>*{
    margin:5px 0 !important;
  }
  #liste .element .logo{
    display: block;
    width: 100%;
    float:none;
    right: 0;
    position: initial;
  }
  #liste .element .logo>a{
    color:transparent;
    background:none;
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  #liste h2 {
    font-size:250%;
    margin-bottom:0;
  }
  #liste .element .logo:hover{
    right: 0;
  }
  #liste .element .logo .fond{
    width: 90px;
    top: 0;
    left: 50%;
    margin-left: -45px;
  }
  #liste .element .logo .photo{
    float:none;
    margin: auto;
    width: 61px;
    padding: 6px 0;
    height: auto;
  }
  #liste .filterlist>div {
    height:30px;
    line-height: 30px;
  }
  #liste .filterlist>div>p {
    font-size:140%;
  }
   #liste .element {
    border:none;
   }


  /* ----------------- PAGE ASSO ------------------ */
  #informations .element{
    width:100% !important;
    display: block !important;
    margin:0 !important;
  }
  #informations .content{
    display: block;
    padding: 8px;
  }
  #informations .content>div{
    display:block;
  }
  #informations .content>.element{
    margin: 20px 0 !important;
  }
  #informations .asso{
    margin-bottom: 20px !important;
  }
   #informations .content>.clearfix:after, #informations .content>.clearfix:before {    
    content: initial !important;
  }
  form>.irs {
    width: 95%;
  }
  #informations .aussi .otherElement {
    width:100%;
    display: block;
  }
  #informations .aussi>div:last-child {
    width: 100%;
  }
  #informations .aussi .otherElement .logo>img.fond {
    top: -9px;
  }
  

  /* ----------------- PAGE CONFIRMATION PAIEMENT ------------------ */
   #social>input, #social>#custom-tweet-button, #confirm a {
    width: 100%;
   }
  

  /* ----------------- PAYPAL ------------------ */
   div#PPMiniCart form {
    left: 0;
    width: 100% !important;
    border-radius:0;
   }
}