/* Propriétés génériques */
html{
  margin-top:0 !important;
}
.content{
  width:1020px;
  display: block;
  margin:auto;
  padding:20px 0;
}
.slog{
  font-style:italic;
}
.btnType{
  margin: auto;
  display: block;
  color: white;
  padding: 3px 0;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size:150%;
  -webkit-transition:all 250ms ease-out;
  -moz-transition:all 250ms ease-out;
  -o-transition:all 250ms ease-out;
  transition:all 250ms ease-out;
}
.btnType:hover, .btnType:active{
  text-decoration:none;
  opacity:1;
}
/* ----------------- LOADER ------------------ */

.loader{
     width:20px;
     height:20px;
     position:relative;
     position: absolute;
     top: 6px;
     left: 10px;
     -webkit-animation: rotate 1.3s linear infinite;
     -moz-animation: rotate 1.3s linear infinite;
     animation: rotate 1.3s linear infinite;
}
@-webkit-keyframes rotate {
     from {
          -webkit-transform: rotate(360deg);
     }
     to {
          -webkit-transform: rotate(0deg);
     }
}
@-moz-keyframes rotate {
     from {
          -moz-transform: rotate(360deg);
     }
     to {
          -moz-transform: rotate(0deg);
     }
}
@keyframes rotate {
     from {
          transform: rotate(360deg);
     }
     to {
          transform: rotate(0deg);
     }
}

.loader div{
     width: 2px;
     height: 6px;
     background: black;
     position: absolute;
     top: 7px;
     left: 9px;
}
.loader div:nth-child(1){
     -webkit-transform: rotate(0deg) translate(0, -6px);
     -moz-transform: rotate(0deg) translate(0, -6px);
     transform: rotate(0deg) translate(0, -6px);
}
.loader div:nth-child(2){
     -webkit-transform: rotate(45deg) translate(0, -6px);
     -moz-transform: rotate(45deg) translate(0, -6px);
     transform: rotate(45deg) translate(0, -6px);
     opacity:0.7;
}
.loader div:nth-child(3){
     -webkit-transform: rotate(90deg) translate(0, -6px);
     -moz-transform: rotate(90deg) translate(0, -6px);
     transform: rotate(90deg) translate(0, -6px);
     opacity:0.6;
}
.loader div:nth-child(4){
     -webkit-transform: rotate(135deg) translate(0, -6px);
     -moz-transform: rotate(135deg) translate(0, -6px);
     transform: rotate(135deg) translate(0, -6px);
     opacity:0.5;
}
.loader div:nth-child(5){
     -webkit-transform: rotate(180deg) translate(0, -6px);
     -moz-transform: rotate(180deg) translate(0, -6px);
     transform: rotate(180deg) translate(0, -6px);
     opacity:0.4;
}
.loader div:nth-child(6){
     -webkit-transform: rotate(225deg) translate(0, -6px);
     -moz-transform: rotate(225deg) translate(0, -6px);
     transform: rotate(225deg) translate(0, -6px);
     opacity:0.3;
}
.loader div:nth-child(7){
     -webkit-transform: rotate(270deg) translate(0, -6px);
     -moz-transform: rotate(270deg) translate(0, -6px);
     transform: rotate(270deg) translate(0, -6px);
     opacity:0.2;
}
.loader div:nth-child(8){
     -webkit-transform: rotate(315deg) translate(0, -6px);
     -moz-transform: rotate(315deg) translate(0, -6px);
     transform: rotate(315deg) translate(0, -6px);
     opacity:0.1;
}

/* ----------------- AUTRE ------------------ */
html{
  height: 100%;
}
body{
  font-size: .9em;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  display: block;
  height: 100%;
}
.superglobale{
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
   background: rgb(132,132,132); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzg0ODQ4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(132,132,132,1) 1%, rgba(240,240,240,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(132,132,132,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848484', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
}
header{
  width:100%;
  background-color:#353535;
  height:54px;
  position: absolute;
  top: 0;
  z-index: 2;
}
header>span{
background-color:#2980b9;
width:100%;
height:5px;
box-shadow:rgba(0,0,0,0.6) 0 5px 8px;
display: block;
z-index: 3;
position:relative;
}
header>div{
  width:1020px;
  margin:auto;
  position: relative;
  height: 50px;
}
header>div>a, header>div>a:hover{
  float:left;
  position: relative;
  z-index: 4;
  left: 0;
  margin:0;
  width:150px;
  height:150px;
  background-color:#2980b9;
  border-radius:0 0 10px 10px;
  box-shadow:rgba(0,0,0,0.6) 0 5px 8px;
  text-align: center;
	font-size: 280%;
	color: white;
	padding-top: 10px;
	font-family: SEGOEUIL, arial;
  text-decoration:none;
}
#listeDons{
  float:right;
  width: 170px;
  color: white;
  padding:0 10px;
  position: relative;
  z-index: 2;
  height: 49px;
  background: url(images/portefeuille.png) no-repeat 21px 1px;
  display: none;
}
#listeDons>p{
  font-size:130%;
  margin: 0;
  line-height: 15px;
  margin: 12px 0 5px 0;
}
#listeDons>p:first-child{
  float:left;
  width: 65px;
  text-align:center;
  line-height: 50px;
  font-size:160%;
  margin:0;
}
#listeDons>a{
  text-align:center;
  color:#353535;
  width: 100%;
  display: block;
  text-decoration:underline;
  clear:both;
  font-size:120%;
  font-weight: bold;
}
#map{
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 54px;
}
#the_map{
  height:100%;
}
#map.little{
  height: 250px;
}
#filtre{
  width:295px;
  height: 100%;
  background-color:#353535;
  float: right;
  clear: both;
  position: absolute;
  right: 50px;
  color: white;
  padding:10px 20px;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  z-index: 2;
  top: 0;
}
#filtre h2{
text-align:center;
font-size:200%;
font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
font-weight:bold;
margin-bottom: 50px
}
#filtre h3{
  text-align: right;
  font-size:150%;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  border-bottom:2px solid #b6b6b6;
  padding-bottom: 5px;
  margin: 25px 0 7px 0;
  font-weight: bold;
}
#filtre>div{
  position: relative;
}
#rond{
  background:white;
  color:#353535;
  width: 100%;
  font-size:130%;
  font-weight:bold;
  margin:20px 0;
  position: relative;
  letter-spacing:normal;
  padding:0;
  height: 30px;
  margin: 0;
  border-radius: 0;
}
#rond>span{
  height:auto;
}
#rond:before {
  content: "LOADING";
  line-height: 30px;
  font-size: 130%;
  font-weight: bold;
  font-family: SEGOEUIL, arial;
}
#filtre>div>.btnType+.loader{
  display: none;
}
#filtre>div>.btnType.loading{
  background:rgb(198, 255, 195);
}
#filtre>div>.btnType.loading+.loader{
  display:block;
}
#accordion>form{
  padding:0;
  margin:0;
}
#accordion>div>input[type="text"]{
  background:white;
  padding:3px; 
  border-radius:3px;
  color:#353535;
  width: 220px;
  border: none;
  height: 22px;
}
#accordion>div>input[type="button"]{
  height:22px;
  border-radius:3px;
  color:#353535;
  background:white;
  font-weight: bold;
  border:none;
  float: right;
}
#filtre>input[type="button"]:last-child{
  margin-top:40px;
}
#filtre>input[type="button"]{
  text-align: center;
  background: none;
  color:white;
  text-decoration:underline;
  border:none;
  width: 100%;
  display: block;
  font-size:160%;
}
#accordion>div>input[type="checkbox"], #accordion>div>input[type="radio"]{
float: right;
clear: both;
display: block;
margin:8px 0;
}
#accordion>div>label{
  float:right;
  color:#b6b6b6;
  font-size:150%;
  font-weight:normal;
  margin: 0 10px;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  line-height: 30px;
}
header>div>a>img {
width: auto;
height: auto;
margin: auto;
display: block;
}
.ui-accordion-header>span{
  background-position: center center;
}
#liste, #informations, #panier, #confirm{
  background:url(images/separateur_couleur.jpg) repeat-x top center;
}
.titreN1{
  text-align:center;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  color:#2980b9;
}
#liste .content{
  text-align: center;
}
#liste .filterlist{
  margin:30px auto;
  text-align: center;
}
#liste .filterlist>div{
  background-color: #353535;
  display: inline-block;
  position: relative;
  margin:0 5px;
  height:20px;
  padding-left:10px;
  line-height: 20px;
}
#liste .filterlist>div>p{
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  color: #b6b6b6;
  padding-right:35px;
  font-size:120%;
}
#liste .filterlist>div>p>strong{
  color:white;
}
#liste .filterlist>div>a{
  color: #b6b6b6;
  text-decoration:none;
  position:absolute;
  top:0;
  right:7px;
  font-weight: bold;
  color:white;
  font-size:160%;
}
#liste .element{
  overflow:hidden;
  height:130px;
  margin:30px auto;
  position:relative;
}
#liste .element{
  padding:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
#liste .element .logo{
  height:100%;
  width:100%;
  top: 0;
  float: left;
  position:relative;
  position: absolute;
  background-color: #2980b9;
  z-index: 2;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#liste .element .logo{
  right: 350px;
}
#liste .element .btnType{
  background-color: white;
  font-size: 160%;
  font-weight: bold;
  margin-top: 55px;
  margin-left: 100px;
  color:#353535;
  width: 170px;
  float: left;
}
#liste .element:hover .logo{
  right:0px;
}
#liste .element .logo span{
position:absolute;
height:29px;
width:15px;
right:-14px;
top:50px;
background: url(images/fleche_photo.png) no-repeat center center;
}
#liste .element .logo .fond{
  position:absolute;
  top:5px;
  right:0;
}
#liste .element .logo .photo{
width:100px;
height:100px;
margin-top:15px;
float:right;
margin-right: 25px;
}
#liste .element .infos{
  padding-left: 150px;
  width: 100%;
  height: 100%;
  background-color:white;
  float: left;
  height:100%;
  position:relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#panier .element .infos>*{
  padding:0 10px;
}
#panier .element.second .infos{
  margin-left:0;
  width: 100%;
}
#liste .element .infos h3{
  text-align:center;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  color:#333333;
  margin-top:25px;
  font-weight: bold;
  font-size: 200%;
}
#liste .element .infos p{
  text-align:center;
  color:#333333;
  clear:both;
  font-size:130%;
}
#liste .element .infos p.categ{
  margin:0;
  width:100%;
}
footer{
  background:#353535;
  height:40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer p{
  text-align:center;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  color:#b6b6b6;
  font-size:130%;
  padding-top:12px;
}
#informations .content{
  display:table;
  border-spacing:8px;
}
#informations .element{
  background-color:white;
}
#informations .element>.top{
  width:100%;
  position: relative;
  background-color: #2980b9;
  padding:5px 10px;
}
#informations .element>.top span{
  position: absolute;
  height: 15px;
  width: 29px;
  left: 50%;
  margin-left:-15px;
  bottom: -14px;
  background: url(images/fleche_photo_bas.png) no-repeat center center;
  z-index: 1;
}
#informations .element>.top h3, #informations .element>.top h2{
  text-align:center;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  color:white ;
  font-weight: bold;
  font-size: 200%;
  margin: 5px 0;
}
#informations .element>.top .logo>img.photo{
  display: block;
  width: 100px;
  height: 100px;
  margin: 15px auto;
}
#informations .element>.top .logo>img.fond{
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top:35px;
}
#informations .element p{
  font-size: 150%;
}
#informations .element .top p{
  text-align:center;
  color: white;
}
#informations .element .infos{
  padding:20px 10px 10px 10px;
}
#informations .element.asso{
  width:650px;
  margin-right: 17px;
  float:none;
  display:table-cell;
}
#informations .element.inf{
  width:350px;
  float:none;
  display:table-cell;
}
#informations .element.donnez, #informations .element.aussi{
  width: 991px;
  margin: 0 auto 25px auto;
  display: block;
}
#informations .element .infos>p.adherents{
  padding-left:70px;
  background:url(images/adherent_icon.png) no-repeat 14px center;
  margin:15px 0;
}
#informations .element .infos>p.adresse{
  padding-left:70px;
  background:url(images/place_icon.png) no-repeat 20px center;
  margin:15px 0;
}
#informations .element .infos>p>strong{
  font-size:160%;
}
#informations .donnez .infos{
  padding-top: 40px;
}
#panier .second .infos {
  padding: 30px 0 0 0;
  height: 90px;
}
#informations .aussi .infos{
  padding:0;
  display:table;
  border-spacing: 0;
}
#informations .element.aussi .infos .otherElement{
  display:table-cell;
  width:338px;
  position: relative;
  text-decoration:none;
}
#informations .aussi .infos .otherElement .logo>img.photo{
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
#informations .aussi .infos .otherElement .logo>img.fond{
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top:11px;
}
#informations .aussi .infos .other{
  padding:10px;
}
#informations .aussi .infos .other.green{background-color:#1fbba6;}
#informations .aussi .infos .other.orange{background-color:#ff9600;}
#informations .aussi .infos .other.blue{background-color:#14b9d6;}
#informations .aussi .infos .other>h3{
  text-align:center;
  color:white;
  font-size:180%;
  font-weight:normal;
  margin-top:0;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#informations .aussi .infos .other>p{
  text-align:center;
  color:black;
  margin-bottom:0;
}
#confirm h1{
  text-align: center;
  font-family: SEGOEUIL, arial;
  color: #333333;
  font-weight: bold;
  font-size: 200%;
  margin: 5px 0;
}
#confirm a{
  margin-top: 20px;
  background: #ffb600;
  width: 250px;
}
form.paypal-button button {
  margin: auto;
  display: block;
  margin-top: 20px;
  font-size: 150%;
  background: #ffb600;
  color: white;
  padding: 3px 50px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-style: initial;
  border-radius:0;
  font-family: SEGOEUIL, arial;
}
form.paypal-button button:before, form.paypal-button button:after {
  background:none;
}
div#PPMiniCart form {
  z-index:2;
  background: #2980b9 url(images/mesdons.png) no-repeat center 2px;
  right: 50%;
  margin-right: -510px;
  border:none;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0,0,0,0.6) 0 5px 8px;
}
div#PPMiniCart form, div#PPMiniCart li a {
  color: white;
  font-family: SEGOEUIL, arial;
}
div#PPMiniCart form>p{
  background: url(images/minicart_sprite.png) no-repeat;
}
div#PPMiniCart p input {
  font-family: SEGOEUIL, arial;
  border:none;
  background:white;
  font-size:120%;
  margin: 0 4px 0 0;
  color: black;
  padding: 2px 15px;
  border-radius: 0;
}
div#PPMiniCart>form>p>span {
  line-height:30px;
}
div#PPMiniCart li .quantity {
  border-radius: 3px;
  color: #353535;
  padding:0 5px;
  width: 35px
}
div#PPMiniCart ul{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
div#PPMiniCart li .remove {
  top:11px;
}
.gm-style .gm-style-iw{
  height: auto !important;
  position: relative !important;
  top:7px !important;
}
.gm-style .gm-style-iw>div>a{
  color:#353535;
  font-family: SEGOEUIL, arial;
  font-weight: bold;
}
.gm-style .gm-style-iw>div>p{
  color:#353535;
  font-family: SEGOEUIL, arial;
  margin: 0;
}
#social .btnType{
  margin-top: 20px;
  width: 250px;
}
#social input.btnType{
  background: #294b91 url('images/facebook.png') 15px center no-repeat;
}
#social #custom-tweet-button{
  padding: 0;
}
#social #custom-tweet-button>a{
  background: #359bed url('images/twitter.png') 15px center no-repeat;
  width: 250px;
}
#social>#custom-tweet-button>a{
  color:white;
  border:none;
}
#social>#custom-tweet-button>a:hover{
  text-decoration:none;
}