/* ---------- Styles génériques / Structure principale ---------- */
html{
  margin-top:0 !important;
}
.content{
  width:1020px;
  display: block;
  margin:auto;
  padding:20px 0;
}
html{
  height: 100%;
}
body{
  font-size: .9em;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  display: block;
  height: 100%;
}
.superglobale{
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
   background: rgb(132,132,132); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzg0ODQ4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(132,132,132,1) 1%, rgba(240,240,240,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(132,132,132,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848484', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
}
header{
  width:100%;
  background-color:#353535;
  height:54px;
  position: absolute;
  top: 0;
  z-index: 2;
}
.slog{
  font-style:italic;
}
.btnType{
  margin: auto;
  display: block;
  color: white;
  padding: 3px 0;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size:150%;
  -webkit-transition:all 250ms ease-out;
  -moz-transition:all 250ms ease-out;
  -o-transition:all 250ms ease-out;
  transition:all 250ms ease-out;
}
.titreN1{
  text-align:center;
  font-family:SEGOEUIL, arial;
  box-sizing:border-box; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color:#2980b9;
}
.btnType:hover, .btnType:active{
  text-decoration:none;
  opacity:1;
}


/* ----------------- LOADERS ------------------ */
.loader{width:100px;height:100px;position: absolute;margin: 0 auto;left:48%;top:250px;-webkit-animation: rotateit 1.3s linear infinite;-moz-animation: rotateit 1.3s linear infinite;animation: rotateit 1.3s linear infinite;}
@-webkit-keyframes rotateit {from {-webkit-transform: rotate(360deg);}to {-webkit-transform: rotate(0deg);}}
@-moz-keyframes rotateit {from {-moz-transform: rotate(360deg);}to {-moz-transform: rotate(0deg);}}
@keyframes rotateit {from {transform: rotate(360deg);}to {transform: rotate(0deg);}}
#map.little .loader{top:75px;}
.loader div{width: 20px;height: 20px;border-radius:50%;background: black;position: absolute;top: 35px;left: 45px;}
.loader div:nth-child(1){-webkit-transform: rotate(0deg) translate(0, -35px) scale(1.4);-moz-transform: rotate(0deg) translate(0, -35px) scale(1.4);transform: rotate(0deg) translate(0, -35px) scale(1.4);}
.loader div:nth-child(2){-webkit-transform: rotate(45deg) translate(0, -35px) scale(1.2);-moz-transform: rotate(45deg) translate(0, -35px) scale(1.2);transform: rotate(45deg) translate(0, -35px) scale(1.2);opacity:0.7;}
.loader div:nth-child(3){-webkit-transform: rotate(90deg) translate(0, -35px) scale(1.1);-moz-transform: rotate(90deg) translate(0, -35px) scale(1.1);transform: rotate(90deg) translate(0, -35px) scale(1.1);opacity:0.6;}
.loader div:nth-child(4){-webkit-transform: rotate(135deg) translate(0, -35px) scale(0.9);-moz-transform: rotate(135deg) translate(0, -35px) scale(0.9);transform: rotate(135deg) translate(0, -35px) scale(0.9);opacity:0.5;}
.loader div:nth-child(5){-webkit-transform: rotate(180deg) translate(0, -35px) scale(0.7);-moz-transform: rotate(180deg) translate(0, -35px) scale(0.7);transform: rotate(180deg) translate(0, -35px) scale(0.7);opacity:0.4;}
.loader div:nth-child(6){-webkit-transform: rotate(225deg) translate(0, -35px) scale(0.5);-moz-transform: rotate(225deg) translate(0, -35px) scale(0.5);transform: rotate(225deg) translate(0, -35px) scale(0.5);opacity:0.3;}
.loader div:nth-child(7){-webkit-transform: rotate(270deg) translate(0, -35px) scale(0.3);-moz-transform: rotate(270deg) translate(0, -35px) scale(0.3);transform: rotate(270deg) translate(0, -35px) scale(0.3);opacity:0.2;}
.loader div:nth-child(8){-webkit-transform: rotate(315deg) translate(0, -35px) scale(0.1);-moz-transform: rotate(315deg) translate(0, -35px) scale(0.1);transform: rotate(315deg) translate(0, -35px) scale(0.1);opacity:0.1;}

.miniLoader{width:20px;height:20px;position:relative;position: absolute;top: 6px;left: 10px;-webkit-animation: rotate 1.3s linear infinite;-moz-animation: rotate 1.3s linear infinite;animation: rotate 1.3s linear infinite;}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(360deg);}to {-webkit-transform: rotate(0deg);}}
@-moz-keyframes rotate {from {-moz-transform: rotate(360deg);}to {-moz-transform: rotate(0deg);}}
@keyframes rotate {from {transform: rotate(360deg);}to {transform: rotate(0deg);}}
.miniLoader div{width: 2px;height: 6px;background: black;position: absolute;top: 7px;left: 9px;}
.miniLoader div:nth-child(1){-webkit-transform: rotate(0deg) translate(0, -6px);-moz-transform: rotate(0deg) translate(0, -6px);transform: rotate(0deg) translate(0, -6px);}
.miniLoader div:nth-child(2){-webkit-transform: rotate(45deg) translate(0, -6px);-moz-transform: rotate(45deg) translate(0, -6px);transform: rotate(45deg) translate(0, -6px);opacity:0.7;}
.miniLoader div:nth-child(3){-webkit-transform: rotate(90deg) translate(0, -6px);-moz-transform: rotate(90deg) translate(0, -6px);transform: rotate(90deg) translate(0, -6px);opacity:0.6;}
.miniLoader div:nth-child(4){-webkit-transform: rotate(135deg) translate(0, -6px);-moz-transform: rotate(135deg) translate(0, -6px);transform: rotate(135deg) translate(0, -6px);opacity:0.5;}
.miniLoader div:nth-child(5){-webkit-transform: rotate(180deg) translate(0, -6px);-moz-transform: rotate(180deg) translate(0, -6px);transform: rotate(180deg) translate(0, -6px);opacity:0.4;}
.miniLoader div:nth-child(6){-webkit-transform: rotate(225deg) translate(0, -6px);-moz-transform: rotate(225deg) translate(0, -6px);transform: rotate(225deg) translate(0, -6px);opacity:0.3;}
.miniLoader div:nth-child(7){-webkit-transform: rotate(270deg) translate(0, -6px);-moz-transform: rotate(270deg) translate(0, -6px);transform: rotate(270deg) translate(0, -6px);opacity:0.2;}
.miniLoader div:nth-child(8){-webkit-transform: rotate(315deg) translate(0, -6px);-moz-transform: rotate(315deg) translate(0, -6px);transform: rotate(315deg) translate(0, -6px);opacity:0.1;}


/* ----------------- HEADER ------------------ */
header>span{
background-color:#2980b9;
width:100%;
height:5px;
box-shadow:rgba(0,0,0,0.6) 0 5px 8px;
display: block;
z-index: 3;
position:relative;
}
header>div{
  width:1020px;
  margin:auto;
  position: relative;
  height: 50px;
}
header>div>a, header>div>a:hover{
  float:left;
  position: relative;
  z-index: 4;
  left: 0;
  margin:0;
  width:150px;
  height:150px;
  background-color:#2980b9;
  border-radius:0 0 10px 10px;
  box-shadow:rgba(0,0,0,0.6) 0 5px 8px;
  text-align: center;
  font-size: 280%;
  color: white;
  padding-top: 10px;
  font-family: SEGOEUIL, arial;
  text-decoration:none;
}
header>div>a>img {
  width: auto;
  height: auto;
  margin: auto;
  display: block;
}


/* ----------------- ACCUEIL ------------------ */
#liste, #informations, #confirm{
  background:url(images/separateur_couleur.jpg) repeat-x top center;
}
#liste .content{
  text-align: center;
}
#liste .filterlist{
  margin:30px auto;
  text-align: center;
}
#liste .filterlist>div{
  background-color: #353535;
  display: inline-block;
  position: relative;
  margin:0 5px;
  height:20px;
  padding-left:10px;
  line-height: 20px;
}
#liste .filterlist>div>p{
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  color: #b6b6b6;
  padding-right:35px;
  font-size:120%;
}
#liste .filterlist>div>p>strong{
  color:white;
}
#liste .filterlist>div>a{
  color: #b6b6b6;
  text-decoration:none;
  position:absolute;
  top:0;
  right:7px;
  font-weight: bold;
  color:white;
  font-size:160%;
}
#liste .element{
  overflow:hidden;
  height:130px;
  margin:30px auto;
  position:relative;
}
#liste .element{
  padding:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
#liste .element .logo{
  height:100%;
  width:100%;
  top: 0;
  float: left;
  position:relative;
  position: absolute;
  background-color: #2980b9;
  z-index: 2;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#liste .element .logo{
  right: 350px;
}
#liste .element .btnType{
  background-color: white;
  font-size: 160%;
  font-weight: bold;
  margin-top: 55px;
  margin-left: 100px;
  color:#353535;
  width: 170px;
  float: left;
}
#liste .element:hover .logo{
  right:0px;
}
#liste .element .logo span{
position:absolute;
height:29px;
width:15px;
right:-14px;
top:50px;
background: url(images/fleche_photo.png) no-repeat center center;
}
#liste .element .logo .fond{
  position:absolute;
  top:5px;
  right:0;
}
#liste .element .logo .photo{
width:100px;
height:100px;
margin-top:15px;
float:right;
margin-right: 25px;
}
#liste .element .infos{
  padding-left: 150px;
  width: 100%;
  height: 100%;
  background-color:white;
  float: left;
  height:100%;
  position:relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#liste .element .infos h3{
  text-align:center;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  color:#333333;
  margin-top:25px;
  font-weight: bold;
  font-size: 200%;
}
#liste .element .infos p{
  text-align:center;
  color:#333333;
  clear:both;
  font-size:130%;
}
#liste .element .infos p.categ{
  margin:0;
  width:100%;
}


/* ----------------- MAP ------------------ */
#map{
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 54px;
}
#the_map{
  height:100%;
  position: relative;
}
#map.little{
  height: 250px;
}
#filtre{
  width:295px;
  height: 100%;
  background-color:#353535;
  float: right;
  clear: both;
  position: absolute;
  right: 50px;
  color: white;
  padding:10px 20px;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  z-index: 2;
  top: 0;
}
#filtre h2{
text-align:center;
font-size:200%;
font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
font-weight:bold;
margin-bottom: 50px
}
#filtre h3{
  text-align: right;
  font-size:150%;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  border-bottom:2px solid #b6b6b6;
  padding-bottom: 5px;
  margin: 25px 0 7px 0;
  font-weight: bold;
}
#filtre>div{
  position: relative;
}
#rond{
  background:white;
  background:#ffb600;
  width: 100%;
  font-size:130%;
  font-weight:bold;
  margin:20px 0;
  position: relative;
  letter-spacing:normal;
  padding:0;
  height: 30px;
  margin: 0;
  border-radius: 0;
  color:initial;
}
#rond>span{
  height:auto;
  text-transform: underline;
}
#rond:before {
  content: "LOADING";
  line-height: 30px;
  font-size: 130%;
  font-weight: bold;
  font-family: SEGOEUIL, arial;
  background:white;
}
#filtre>div>.btnType+.miniLoader{
  display: none;
}
#filtre>div>.btnType.loading+.miniLoader{
  display:block;
}
#accordion>form{
  padding:0;
  margin:0;
}
#accordion>div>input[type="text"]{
  background:white;
  padding:3px; 
  border-radius:3px;
  color:#353535;
  width: 220px;
  border: none;
  height: 22px;
}
#accordion>div>input[type="button"]{
  height:22px;
  border-radius:3px;
  color:#353535;
  background:white;
  font-weight: bold;
  border:none;
  float: right;
}
#filtre>.btnType{
  width: 100%;
  color: initial;
  font-weight: bold;
  margin-top:40px;
  background:white;
}
#accordion>div>input[type="checkbox"], #accordion>div>input[type="radio"]{
float: right;
clear: both;
display: block;
margin:8px 0;
}
#accordion>div>label{
  float:right;
  color:#b6b6b6;
  font-size:150%;
  font-weight:normal;
  margin: 0 10px;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  line-height: 30px;
}
.ui-accordion-header>span{
  background-position: center center;
}


/* ----------------- PAGE ASSO ------------------ */
#informations .content{
  display:table;
  border-spacing:8px;
}
#informations .element{
  background-color:white;
}
#informations .element>div:first-child{
  width:100%;
  position: relative;
  background-color: #2980b9;
  padding:5px 10px;
}
#informations .element>div:first-child span{
  position: absolute;
  height: 15px;
  width: 29px;
  left: 50%;
  margin-left:-15px;
  bottom: -14px;
  background: url(images/fleche_photo_bas.png) no-repeat center center;
  z-index: 1;
}
#informations .element>div:first-child h3, #informations .element>div:first-child h2{
  text-align:center;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  color:white ;
  font-weight: bold;
  font-size: 200%;
  margin: 5px 0;
}
#informations .element>div:first-child .logo{
  position: relative;
}
#informations .element>div:first-child .logo>img.photo{
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  margin: 0;
  left: 50%;
  margin-left: -50px;
}
#informations .element>div:first-child .logo>img.fond{
  margin: auto;
  display: block;
  z-index: 2;
  position: relative;
  top:0;
}
#informations .element p{
  font-size: 150%;
}
#informations .element>div:first-child p{
  text-align:center;
  color: white;
}
#informations .element>div:last-child{
  padding:20px 10px 10px 10px;
}
#informations .element.asso{
  width:650px;
  margin-right: 17px;
  float:none;
  display:table-cell;
}
#informations .element.inf{
  width:350px;
  float:none;
  display:table-cell;
}
#informations .element.donnez, #informations .element.aussi{
  width: 991px;
  margin: 0 auto 25px auto;
  display: block;
}
#informations .inf>div:last-child>p.adherents{
  background:url(images/adherent_icon.png) no-repeat 14px center;
}
#informations .inf>div:last-child>p.adresse{
  background:url(images/place_icon.png) no-repeat 17px center;
}
#informations .inf>div:last-child>p.categ{
  background:url(images/categ.png) no-repeat 14px center;
}
#informations .inf>div:last-child>p.action{
  background:url(images/action.png) no-repeat 14px center;
}
#informations .inf>div:last-child>p{
  padding-left:70px;
  margin:15px 0;
  min-height: 40px;
  vertical-align: middle;
  display: table;
}
#informations .inf>div:last-child>p.action>strong{
  display: block;
  width:100%;
}
#informations .inf>div:last-child>p.adherents>strong{
  font-size:160%;
}
#informations .donnez>div:last-child{
  padding-top: 40px;
}
#informations .aussi>div:last-child{
  padding:0;
  display:table;
  border-spacing: 0;
}
#informations .aussi .otherElement{
  display:table-cell;
  width:338px;
  position: relative;
  text-decoration:none;
}
#informations .aussi .otherElement .logo>img.photo{
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
#informations .aussi .otherElement .logo>img.fond{
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top:11px;
}
#informations .aussi .other{
  padding: 10px 0 0 0;
  height: 70px;
}
#informations .aussi .other.green{background-color:#1fbba6;}
#informations .aussi .other.orange{background-color:#ff9600;}
#informations .aussi .other.blue{background-color:#14b9d6;}
#informations .aussi .other>h3{
  text-align:center;
  color:white;
  font-size:180%;
  font-weight:normal;
  margin-top:0;
  margin-bottom: 5px;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#informations .aussi .other>p{
  text-align:center;
  color:black;
  margin-bottom:0;
}


/* ----------------- FOOTER ------------------ */
footer{
  background:#353535;
  height:40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer p{
  text-align:center;
  font-family:SEGOEUIL, arial;
box-sizing:border-box; -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  color:#b6b6b6;
  font-size:130%;
  padding-top:12px;
}


/* ----------------- CONFIRMATION DON ------------------ */
#confirm h1{
  text-align: center;
  font-family: SEGOEUIL, arial;
  color: #333333;
  font-weight: bold;
  font-size: 200%;
  margin: 5px 0;
}
#confirm a{
  margin-top: 20px;
  background: #ffb600;
  width: 250px;
}
#social .btnType{
  margin-top: 20px;
  width: 250px;
}
#social input.btnType{
  background: #294b91 url('images/facebook.png') 15px center no-repeat;
}
#social #custom-tweet-button{
  padding: 0;
}
#social #custom-tweet-button>a{
  background: #359bed url('images/twitter.png') 15px center no-repeat;
  width: 250px;
}
#social>#custom-tweet-button>a{
  color:white;
  border:none;
}
#social>#custom-tweet-button>a:hover{
  text-decoration:none;
}


/* ----------------- PAYPAL ------------------ */
form.paypal-button button {
  margin: auto;
  display: block;
  margin-top: 20px;
  font-size: 150%;
  background: #ffb600;
  color: white;
  padding: 3px 50px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-style: initial;
  border-radius:0;
  font-family: SEGOEUIL, arial;
}
form.paypal-button button:before, form.paypal-button button:after {
  background:none;
}
div#PPMiniCart form {
  z-index:2;
  background: #2980b9 url(images/mesdons.png) no-repeat center 2px;
  right: 50%;
  margin-right: -510px;
  border:none;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0,0,0,0.6) 0 5px 8px;
}
div#PPMiniCart form, div#PPMiniCart li a {
  color: white;
  font-family: SEGOEUIL, arial;
}
div#PPMiniCart form>p{
  background: url(images/minicart_sprite.png) no-repeat;
}
div#PPMiniCart p input {
  font-family: SEGOEUIL, arial;
  border:none;
  background:white;
  font-size:120%;
  margin: 0 4px 0 0;
  color: black;
  padding: 2px 15px;
  border-radius: 0;
}
div#PPMiniCart>form>p>span {
  line-height:30px;
}
div#PPMiniCart li .quantity {
  border-radius: 3px;
  color: #353535;
  padding:0 5px;
  width: 35px
}
div#PPMiniCart ul{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
div#PPMiniCart li .remove {
  top:11px;
}
.gm-style .gm-style-iw{
  height: auto !important;
  position: relative !important;
  top:7px !important;
}
.gm-style .gm-style-iw>div>a{
  color:#353535;
  font-family: SEGOEUIL, arial;
  font-weight: bold;
}
.gm-style .gm-style-iw>div>p{
  color:#353535;
  font-family: SEGOEUIL, arial;
  margin: 0;
}