/* Propriétés génériques */

.content{
  width:1020px;
  display: block;
  margin:auto;
  padding:20px 0;
}
.slog{
  font-style:italic;
}

/* ----------------- FIN ------------------ */
body{
  font-size: .9em;
  font-family:SEGOEUIL;
  background: rgb(132,132,132); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzg0ODQ4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(132,132,132,1) 1%, rgba(240,240,240,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(132,132,132,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(132,132,132,1) 1%,rgba(240,240,240,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848484', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */

}
header{
  width:100%;
  background-color:#353535;
  height:54px;
  border-bottom: 1px solid grey;
}
header>span{
background-color:#2980b9;
width:100%;
height:5px;
box-shadow:rgba(0,0,0,0.6) 0 5px 8px;
display: block;
z-index: 3;
position:relative;
}
header>div{
  width:1020px;
  margin:auto;
  position: relative;
}
header>div>a{
  float:left;
  position: relative;
  z-index: 4;
  left: 0;
  border-radius: 3px;
}
header>div>a>h1{
  margin:0;
  width:150px;
  height:150px;
  background-color:#2980b9;
  border-radius:0 0 10px 10px;
  z-index: 10;
  box-shadow:rgba(0,0,0,0.6) 0 5px 8px;
}
header #panier{
  float:right;
  background: #b6b6b6 url(images/portefeuille.png) no-repeat 21px 3px;
  width: 170px;
  color:#353535;
  padding:0 10px;
  height: 76px;
  position: relative;
  z-index: 2;
}
header #panier>div{
padding:5px 0;
border-left:1px dashed #353535;
border-right:1px dashed #353535;
}
header #panier>div>p{
  font-size:130%;
  margin: 0;
  line-height: 15px;
  margin: 12px 0 5px 0;
}
header #panier>div>p:first-child{
  float:left;
  width: 65px;
  text-align:center;
  line-height: 50px;
  font-size:160%;
  margin:0;
}
header #panier>div>a{
  text-align:center;
  color:#353535;
  width: 100%;
  display: block;
  text-decoration:underline;
  clear:both;
  font-size:120%;
  font-weight: bold;
}
header>div>span{
height: 27px;
display: block;
width: 6px;
background: url(images/ombre_panier.png) no-repeat center -5px;
float: right;
margin-top: 49px;
position: relative;
z-index: 4;
}
#map{
  width: 100%;
  height: 400px;
  position: relative;
}
#map.little{
  height: 200px;
}
#map>#filtre{
  width:295px;
  height: 100%;
  background-color:#353535;
  float: right;
  clear: both;
  position: absolute;
  right: 50px;
  color:#b6b6b6;
  padding:10px 20px;
  font-family:SEGOEUIL;
}
#map>#filtre h2{
text-align:center;
font-size:200%;
font-family:SEGOEUIL;
font-weight:bold;
}
#map>#filtre h3{
  text-align: right;
  font-size:150%;
  font-family:SEGOEUIL;
  border-bottom:2px solid #b6b6b6;
  padding-bottom: 5px;
  margin:10px 0;
}
#map>#filtre>a{
  background:#b6b6b6;
  padding:3px;
  text-align:center;
  border-radius:3px;
  color:#353535;
  width: 100%;
  display: block;
  text-decoration:none;
  font-size:130%;
  font-weight:bold;
  margin:20px 0;
}
#filtre #accordion>form{
  padding:0;
  margin:0;
}
#filtre #accordion>div>input[type="text"]{
  background:#b6b6b6;
  padding:3px;
  text-align:center;
  border-radius:3px;
  color:#353535;
  width: 220px;
}
#filtre #accordion>div>input[type="submit"]{
  height:22px;
  border-radius:3px;
  color:#353535;
  background:#b6b6b6;
  font-weight: bold;
  border:none;
  float: right;
}
#filtre #accordion>div>input[type="checkbox"], #filtre #accordion>div>input[type="radio"]{
float: right;
clear: both;
height:20px;
width:20px;
display: block;
margin:6px 0;
}
#filtre #accordion>div>label{
  float:right;
  color:#b6b6b6;
  font-size:140%;
  font-weight:normal;
  margin: 0 10px;
  font-family:SEGOEUIL;
  line-height: 30px;
}
.ui-accordion-header>span{
  background-position: center center;
}
#liste, #informations, #panier{
  background:url(images/separateur_couleur.jpg) repeat-x top center;
}
#liste h2{
  text-align:center;
  font-family:SEGOEUIL;
  color:#2980b9;
}
#liste .content{
  text-align: center;
}
#liste .filterlist{
  margin:30px auto;
  text-align: center;
}
#liste .filterlist>div{
  background-color: #353535;
  display: inline-block;
  position: relative;
  margin:0 5px;
  height:20px;
  padding-left:10px;
  line-height: 20px;
}
#liste .filterlist>div>p{
  font-family:SEGOEUIL;
  color: #b6b6b6;
  padding-right:35px;
  font-size:120%;
}
#liste .filterlist>div>p>strong{
  color:white;
}
#liste .filterlist>div>a{
  color: #b6b6b6;
  text-decoration:none;
  position:absolute;
  top:0;
  right:7px;
  font-weight: bold;
  color:white;
  font-size:160%;
}
#liste .element{
  width:480px;
  overflow:hidden;
  height:120px;
  margin:20px 10px;
  background-color:white;
  display:inline-block;
  position: relative;
}
#panier .element{
  width:480px;
  overflow:hidden;
  margin:20px auto;
  background-color:white;
  display:inline-block;
  position: relative;
}
#panier .content>div{
  display:table;
  border-spacing:15px;
}
#panier .content>div .first{
  display: table-cell;
  width:550px;
  vertical-align: middle;
}
#panier .content>div .second{
  display: table-cell;
  width:440px;
  padding-top:0;
  vertical-align: top;
}
#panier .content>div .third{
  display: table-cell;
  width:30px;
  background:#e74c3c;
  vertical-align: middle;
}
#panier .content>div .third>p{
  text-align:center;
  font-size:180%;
  color:white;
  margin-bottom:0;
}
#liste .element .logo, #panier .element .logo{
  height:100%;
  width:100%;
  top: 0;
  right:330px;
  float: left;
  position:relative;
  position: absolute;
  background-color: #2980b9;
  z-index: 2;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#panier .element .logo>p{
  width: 370px;
  float: left;
  padding: 10px;
  color:white;
  font-family:SEGOEUIL;
  font-size:130%;
}
#panier .element .logo{
  right: 395px;
}
#liste .element .logo>a, #panier .element .logo>a{
background-color: white;
padding: 4px 0;
font-size: 160%;
font-weight: bold;
margin-top: 45px;
margin-left: 100px;
color:#353535;
display: block;
width: 170px;
float: left;
text-decoration:none;
}
#liste .element:hover .logo, #panier .element:hover .logo{
  right:0px;
}
#liste .element .logo span, #panier .element .logo span{
position:absolute;
height:29px;
width:15px;
right:-14px;
top:45px;
background: url(images/fleche_photo.png) no-repeat center center;
}
#panier .element .logo span{
top:60px;
}
#liste .element .logo .fond{
  position:absolute;
  top:0;
  right:0;
}
#panier .element .logo .fond{
  position:absolute;
  top:12px;
  right:0;
}
#liste .element .logo .photo, #panier .element .logo .photo{
width:100px;
height:100px;
margin-top:10px;
float:right;
margin-right: 25px;
}
#panier .element .logo .photo{
 margin-top:22px;
}
#liste .element .infos, #panier .element .infos{
  float: left;
  width: 315px;
  height:100%;
  position:relative;
  margin-left:150px;
}
#panier .element .infos{
  margin-left:170px;
  width:355px;
  height: 90px;
}
#panier .element.second .infos{
margin-left:0;
width: 100%;
}
#liste .element .infos h3, #panier .element .infos h3{
  text-align:center;
  font-family:SEGOEUIL;
  color:#333333;
  margin-top:10px;
  font-weight: bold;
  font-size: 200%;
}
#liste .element .infos p, #panier .element .infos p{
  text-align:center;
  color:#333333;
  clear:both;
  font-size:130%;
}
#liste .element .infos p.categ, #panier .element .infos p.categ{
  position:absolute;
  bottom:5px;
  margin:0;
  width:100%;
}
footer{
  background:#353535;
  height:40px;
}
footer p{
  text-align:center;
  font-family:SEGOEUIL;
  color:#b6b6b6;
  font-size:130%;
  padding-top:12px;
}
#informations .content{
  display:table;
  border-spacing:8px;
}
#informations .content .element{
  background-color:white;
}
#informations .content .element>.top, #panier .content .element>.top{
  width:100%;
  position: relative;
  background-color: #2980b9;
  padding:5px 10px;
}
#informations .element>.top span, #panier .element>.top span{
  position: absolute;
  height: 15px;
  width: 29px;
  left: 50%;
  margin-left:-15px;
  bottom: -14px;
  background: url(images/fleche_photo_bas.png) no-repeat center center;
}
#informations .content .element>.top h3, #informations .content .element>.top h2, #panier .content .element>.top h3{
  text-align:center;
  font-family:SEGOEUIL;
  color:white ;
  font-weight: bold;
  font-size: 200%;
  margin: 5px 0;
}
#panier h2{
  text-align:center;
  font-family:SEGOEUIL;
  color:white ;
  font-size: 250%;
}
#panier>div>a{
  text-decoration:none;
  display: block;
  width:300px;
  text-align:center;
  font-family:SEGOEUIL;
  color:white ;
  margin:10px auto;
  font-size:200%;
  padding:5px 20px;
  border-radius:3px;
}
#panier>div>a.chercher{
  background:#999999;
}
#panier>div>a.valider{
  background:#7ab343;
}
#informations .content .element>.top .logo>img.photo{
  display: block;
  width: 100px;
  height: 100px;
  margin: 15px auto;
}
#informations .content .element>.top .logo>img.fond{
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top:35px;
}
#informations .content .element p{
  font-size: 150%;
}
#informations .content .element .top p{
  text-align:center;
  color: white;
}
#informations .content .element .infos{
  padding:20px 10px 10px 10px;
}
#informations .content .element.first{
  width:650px;
  margin-right: 17px;
  float:none;
  display:table-cell;
}
#informations .content .element.second{
  width:350px;
  float:none;
  display:table-cell;
}
#informations .content .element.third, #informations .content .element.fourth{
  width: 991px;
  margin: 0 auto 25px auto;
  display: block;
}
#informations  .element .infos>p.adherents{
  padding-left:70px;
  background:url(images/adherent_icon.png) no-repeat 14px center;
  margin:15px 0;
}
#informations .element .infos>p.adresse{
  padding-left:70px;
  background:url(images/place_icon.png) no-repeat 20px center;
  margin:15px 0;
}
#informations .element .infos>p>strong{
  font-size:160%;
}
#informations .element.third .infos{
  padding-top: 40px;
}
#panier .second .infos {
  padding: 30px 0 20px 0;
}
#informations .element.third input[type="submit"]{
  margin: auto;
  display: block;
  margin-top: 20px;
  font-size: 150%;
  background: #ffb600;
  color: white;
  padding: 3px 50px;
}
#informations .element.fourth .infos{
  padding:0;
  display:table;
  border-spacing: 0;
}
#informations .element.fourth .infos .otherElement{
  display:table-cell;
  width:338px;
  position: relative;
  text-decoration:none;
}
#informations .element.fourth .infos .otherElement .logo>img.photo{
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
#informations .element.fourth .infos .otherElement .logo>img.fond{
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top:11px;
}
#informations .element.fourth .infos .other{
  padding:10px;
}
#informations .content .element.fourth .infos .other.green{background-color:#1fbba6;}
#informations .content .element.fourth .infos .other.orange{background-color:#ff9600;}
#informations .content .element.fourth .infos .other.blue{background-color:#14b9d6;}
#informations .content .element.fourth .infos .other>h3{
  text-align:center;
  color:white;
  font-size:180%;
  font-weight:normal;
  margin-top:0;
  font-family:SEGOEUIL;
}
#informations .content .element.fourth .infos .other>p{
  text-align:center;
  color:black;
  margin-bottom:0;
}